%body
  %header
    -# 後日、topページで使用しているヘッダー部分を部分テンプレート化してはめ込みます
  .main
    .devise_content
      %h2 Sign up
      .devise_content_form
        = form_with(model: @user, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :nickname, class: "field_name"
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "field_text"
          .field
            = f.label :password, class: "field_name"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password", class: "field_text"
          .field
            = f.label :password_confirmation, class: "field_name"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "field_text"
          = f.fields_for :language do |f|
            .field
              = f.label :programing_language, class: "field_name"
              %br/
              = f.text_field :programing_language, class: "field_text"
          = f.fields_for :learning_method do |f|
            .field
              = f.label :method, class: "field_name"
              %br/
              = f.text_field :method, class: "field_text"
          .field
            アイコン(仮置き)
          .actions
            = f.submit "Sign up", class: "actions_btn"
        .devise_content_form_links
          = render "devise/shared/links"
