%body
  %header
    -# 後日、topページで使用しているヘッダー部分を部分テンプレート化してはめ込みます
  .main
    .devise_content
      %h2 Sign up
      .devise_content_form
        = form_with(model: @user, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :nickname, class: "field_name"
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "field_text"
          .field
            = f.label :password, class: "field_name"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "new-password", class: "field_text"
          .field
            = f.label :password_confirmation, class: "field_name"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "field_text"
          .field
            = f.label :programing_language, class: "field_name"
            .field_checkbox
              = f.collection_check_boxes(:language_ids, Language.all, :id, :programing_language, include_hidden: false)
          .field
            = f.label :method, class: "field_name"
            .field_selectbox
              = f.collection_select :learning_method_id, LearningMethod.all, :id, :method, :include_blank => true
          .field
            アイコン(仮置き)
          .actions
            = f.submit "Sign up", class: "actions_btn"
        .devise_content_form_links_singup
          = render "devise/shared/links"
