%h1 ユーザー詳細

= @user.nickname
= form_with model: @user, local: true do |f|
  - if @user.image?
    = image_tag @user.image.url
  - else
    = image_tag "/assets/default.jpg", :size => '100x100'

%h2 学習言語
- @user.languages.each do |language|
  = language.programing_language

%h2 学習方法
= @user.learning_method.method

- @user.posts.each do |post|
  %h2 投稿日:
  = post.interview_date
  %br/

  %h2 業務形態
  = post.style.business_form
  %br/

  %h2 勤務地域
  = post.place.work_location
  %br/

  - post.questions.each do |question|
    %li
      = question.content

= link_to "編集画面" ,edit_user_path
= link_to "トップページへ" ,root_path