%body
  %header
    = render 'share/header'
  .main
    .select
      .select_content
        .select_box
          .label
            業務形態
          .select_item
            自社開発
        .select_box
          .label
            勤務形態
          .select_item
            大阪
    .post_total
      投稿総件数 #{@questions.count} 件
    .question_answer
      %table
        %tr
          %th 順位
          %th 質問内容
          %th 件数
        - @questions.each.with_index(1) do |question, i|
          %tr
            %td #{i} 位
            %td #{question.content}
            %td #{question.counter}件