%body
  %header
    .info
      .info_logo
        = image_tag 'logo.jpg', class: "info_logo_image"
      - if user_signed_in?
        .info_name
          こんにちは、#{current_user.nickname}さん
    %ul
      - if user_signed_in?
        = link_to "新規投稿", new_post_path
        = link_to "投稿一覧", posts_path
        = link_to "マイページ", user_path(current_user.id)
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        = link_to "新規登録", new_user_registration_path
        = link_to "ログイン", new_user_session_path
        
  .main
    .select
      .select_content
        .select_box
          .label
            業務形態
          .select_item
            自社開発
        .select_box
          .label
            勤務形態
          .select_item
            大阪
    .post_total
      投稿総件数　○　件
    .question_answer
      %table
        %tr
          %th 順位
          %th 質問内容
          %th 件数
        %tr
          %td ◯位
          %td 自己紹介をしてください
          %td ◯件
        %tr
          %td ◯位
          %td 年収希望はありますか
          %td ◯件
        %tr
          %td ◯位
          %td 逆質問はありますか
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
        %tr
          %td ◯位
          %td ほげほげ
          %td ◯件
