%body
  %header
    = render 'share/header'
  .main
    .postindex
      %h1 投稿一覧
      .postindex_posts
        - @posts.each do |post|
          .post
            .post_user
              .post_user_image
                画像
              .post_user_name
                投稿者:
                = post.user.nickname
            .post_content
              %h2 投稿日:
              = post.interview_date
              %h2 業務形態
              = post.style.business_form
              %br/

              %h2 勤務地域
              = post.place.work_location
              %br/

              - post.questions.each do |question|
                %li
                  = question.content

        = paginate @posts