%body
  %header
    =  render 'share/header'
  .main
    .main_postcontent_show
      %h1 投稿詳細
      .main_postcontent_show_form
        .title
          .label
            %h2 面接日
            .label_text
              = @post.interview_date
          .label
            %h2 業務形態
            .label_text
              = @style.business_form
          .label
            %h2 勤務地域
            .label_text
              = @place.work_location
        .question
          %h2 質問内容
          - @post.questions.each do |quesion|
            .question_text
              = icon("far", "far fa-check-square")
              = quesion.content
        .comment
          %h2 コメント
          .comment_text
            = @post.text
        .actions
          = link_to "編集", edit_post_path
          = link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '本当に削除していいですか？' }